@base: #2DE5AF;

html {
  -webkit-text-size-adjust: none;
}

.fullpage-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.my-section {
  height: 100%;
  text-align: center;

  .main1 {
    position: relative;
  }

  img {
    &.normal {
      width: 100%;
    }

    &#urlCode {
      width: 27.87%;
      position: absolute;
      top: 24.01%;
      left: 20.67%;
    }
  }

  .clock {
    text-align: center;

    .small-pic {
      width: 34.93%;
    }

    margin-top: -0.25rem;
    margin-bottom: 1rem;
  }
}

//隐藏站点统计的图标
[id^="cnzz"] img {
  display: none;
}
 
.section .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 100%;

  .content {
    position: absolute;
    bottom: 0;

    .code-box2 img {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.code-box {
  overflow: hidden;
  position: relative;

  img.urlCode {
    position: absolute;
    width: 29.863%;
    left: 35.3%;
    top: 1;
  }

  .small-pic {
    width: 84.93%;
  }

}

.code-box2 {
  overflow: hidden;
  position: relative;

  img.urlCode {
    position: absolute;
    width: 28%;
    left: 44.7%;
    top: 59.7%;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }
}

.code-box3 {
  overflow: hidden;
  position: relative;

  img.urlCode {
    position: absolute;
    width: 15.87%;
    left: 80%;
    top: 85.3%;
  }
}

.dash {
  width: 1rem!important;
}

.dash .digit {
  font-size: .6rem!important;
  color: #fff!important;
  font-weight: normal!important;
  background-color: #FE7C02;
  border-radius: 3px;
  padding: .1rem .05rem;
}

.dash_title {
  color: #fff!important;
  float: left;
  display: inline-block;
  height: .7rem;
  line-height: 1.08rem;
  padding: 0 .05rem;
}

.page-container {
  background: url('../images/bg.gif') 0 0 repeat-y;
  background-size: 100% auto;
  max-width: 819px;
  margin: 0 auto;
}

#fullpage {
  max-width: 819px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}
