@base: #2DE5AF;
html{-webkit-text-size-adjust:none;}
.wapper {
    background-color: @base;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    .main1 {
        position: relative;
    }
    img {
        &.normal {
            width: 100%;
        }
        &#urlCode {
            width: 27.87%;
            position: absolute;
            top: 24.01%;
            left: 20.67%;
        }
    }
    // .clock {
    //     text-align: center;
    //     p {
    //         font-size: 0.33rem;
    //         font-family: 微软雅黑;
    //         margin-bottom: 0.45rem;
    //         color: #0D785A;
    //     }
    //     .myClock {
    //         width: 5.4rem;
    //         margin: 0 auto;
    //     }
    // }
}

// //时钟定制
// .flip-clock-label {
//     font-size: 0.24rem;
//     font-family: 微软雅黑;
//     color: #0D785A;
// }

// //数字大小
// .flip-clock-wrapper ul li a div div.inn {
//     font-size: 0.6rem;
// }

// // 表盘大小w h
// .flip-clock-wrapper ul {
//     width: 0.4rem;
//     height: 0.7rem;
// }

// // 年月日的位置  right
// .flip-clock-divider .flip-clock-label {
//     right: -0.6rem;
// }
// button{
//     width: 0.4rem;
//     height: 0.2rem;
// }